* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
* body {
  min-height: 100vh;
  background: #2b3136;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
* body .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: start;
  padding: 20px 3vw 50px 3vw;
  box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25), 10px 10px 70px rgba(0, 0, 0, 0.25), inset 5px 5px 10px rgba(0, 0, 0, 0.5), inset 5px 5px 20px rgba(255, 255, 255, 0.2), inset -5px -5px 15px rgba(0, 0, 0, 0.75);
}
* body header {
  margin-top: 40px;
  font-size: clamp(2rem, 3vw, 10rem);
  color: white;
  font-family: "Ubuntu", sans-serif;
  margin-bottom: 20px;
}
* body main {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: start;
  padding-bottom: 30px;
}
* body main .input input, * body main .input button {
  display: block;
  width: 70vw;
  border: none;
  background: none;
  outline: none;
  background-color: white;
  padding: 20px 1.5vw;
  border-radius: 30px;
  font-size: 1rem;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25), inset 2px 2px 5px rgba(0, 0, 0, 0.5), inset -3px -3px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}
* body main .input button {
  background-color: #1f83f2;
  color: white;
  padding-block: 10px;
  margin-bottom: 50px;
}
* body main .task-container {
  font-family: "Ubuntu", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: start;
  width: 70vw;
  overflow-y: auto;
}
* body main .task-container .task-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 65vw;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;
}
* body main .task-container .task-section .box {
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25), inset 2px 2px 5px rgba(0, 0, 0, 0.5), inset -3px -3px 5px rgba(0, 0, 0, 0.5);
  background-color: #1f83f2;
  border-radius: 30px;
  color: white;
  font-size: clamp(1.25rem, 1.5vw, 10rem);
  flex-grow: 2;
  margin-right: 1vw;
  padding: 15px 1.5vw;
  overflow-x: auto;
  height: auto;
}
* body main .task-container .task-section .done, * body main .task-container .task-section .remove {
  margin-right: 0.5vw;
  width: clamp(40px, 3vw, 10rem);
  aspect-ratio: 1/1;
  border: none;
  background: none;
  outline: none;
  background: greenyellow;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25), inset 2px 2px 5px rgba(0, 0, 0, 0.5), inset -3px -3px 5px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  color: white;
  font-size: clamp(1rem, 1.25vw, 10rem);
  font-weight: bold;
}
* body main .task-container .task-section .remove {
  background: #ff2c74;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
}/*# sourceMappingURL=style.css.map */